@media screen and (max-width: 425px){

    header .navbar-brand img{
        width: 35vw;
        height: 13.88vw;
        align-self: center;
        margin: 0;
        margin-left: 3.6vw;
    }

    header .navWrapper .menuButton{
        width: 5.55vw;
    }

    header nav{
        display: none;
    }

    header .navLinks{
        position: relative;
        width: 100%;
    }

    header{
        height: 13vw;
    }

    #contactMe{
        flex-direction: column;
        margin-top: 13vw;
        padding: 0;
    }

    #contactMe h2{
        font-size: 9.7vw;
        font-weight: 300;
        letter-spacing: 0.3px;
        color: #0f1d3e;
        margin: 0;
        margin-right: 6vw;
    }

    #contactMe h2 span{
        font-size: 12.5vw;
        font-weight: bold;
        color: #0f1d3e;
    }

    #contactMe a{
        display: none;
    }

    #contactMe .adv{
        font-size: 4.44vw;
        font-weight: 300;
        line-height: 1.56;
        letter-spacing: 0.2px;
        text-align: right;
        color: #0f1d3e;
        width: 50%;
        margin-top: 12.77vw;
    }

    #contactMe .pol{
        font-size: 4.44vw;
        line-height: 2.38;
        letter-spacing: 0.2px;
        text-align: right;
        color: #0f1d3e;
        width: 50%;
    }

    #contactMe .contactImg{
        justify-content: flex-end;
    }

    #contactMe img{
        width: 60%;
        margin-top: -32vw;
    }

    #whyMe{
        flex-direction: column;
        padding: 0;
    }

    #whyMe .left{
        width: 100%;
        margin: 0;
    }

    #whyMe .left h2{
        font-size: 5vw;
        font-weight: 500;
        letter-spacing: 0.4px;
        text-align: center;
        color: #fbfbf7;
        margin-top: 7.22vw;
    }

    #whyMe .left p{
        font-size: 5vw;
        font-weight: 500;
        letter-spacing: 0.5px;
        text-align: center;
        color: #fbfbf7;
        margin-top: 5vw;
    }

    #whyMe .right{
        width: 100%;
        margin: 0;
    }

    #whyMe .right p{
        font-size: 4.44vw;
        text-align: justify;
        color: #fbfbf7;
        margin-top: 3.34vw;
        padding: 4.16vw;
    }

    #clients h2{
        font-size: 5vw;
        font-weight: 500;
        letter-spacing: 0.4px;
        text-align: center;
        color: #0f1d3e;
        margin-top: 8.33vw;
    }

    #clients .underHeader{
        font-size: 5vw;
        font-weight: 300;
        letter-spacing: 0.5px;
        text-align: center;
        color: #0f1d3e;
        margin-top: 8.33vw;
        margin-bottom: 14.16vw;
    }

    #clients .flexRow{
        flex-direction: column;
        margin: 0;
        width: 100%;
    }

    #clients .flexRow .plate{
        border: none;
        border-top: 1px solid black;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    #clients .flexRow .plate .pic100{
        width: 100%;
        height: 79vw;
    }

    #clients .flexRow .plate .picWorld{
        width: 88%;
        height: 70vw;
    }

    #clients .flexRow .plate p{
        font-size: 6.66vw;
        margin-left: 4.16vw;
    }

    #clients .flexRow .plate a{
        font-size: 3.88vw;
        margin: 4.16vw;
    }

    #clients .flexRow .plate a img{
        width: 6.66vw;
        bottom: -1.4vw;
    }

    #specialise h2{
        font-size: 5vw;
        font-weight: 500;
        letter-spacing: 0.5px;
        color: #ffffff;
        margin-top: 8.33vw;
    }

    #specialise .underHeader{
        font-size: 5vw;
        font-weight: 300;
        letter-spacing: 0.5px;
        text-align: center;
        color: #ffffff;
        margin: 5.55vw 5.83vw 8.33vw 5.83vw;
    }


    #specialise .flexRow{
        flex-direction: column;
        margin: 0;
        width: 100%;
    }

    #specialise .flexRow .plate{
        width: 100%;
        border: none;
        border-bottom: 1px solid black;
        margin-top: 0px;
        height: 55.6vw;
    }

    #specialise .flexRow .plate p{
        font-size: 6.66vw;
        margin-left: 4.16vw;
    }

    #specialise .flexRow .plate a{
        font-size: 3.9vw;
        margin: 4.16vw;
    }

    #specialise .flexRow .plate a img{
        width: 6.66vw;
        bottom: -1.4vw;
    }

    #specialise .pic-civil{
        background-size: 80vw 42vw;
    }

    #specialise .pic-admin{
        background-size: 69vw 43vw;
        background-position-y: bottom;
    }

    #specialise .pic-economic{
        background-size: 73vw 54vw;
    }

    #specialise .flexRow .bluePlate{
        width: 100%;
        margin: 0;
        height: 42vw;
    }

    #specialise .flexRow .bluePlate p{
        font-size: 9.7vw;
        margin-left: 4.16vw;
    }

    #specialise .flexRow .bluePlate a{
        font-size: 3.9vw;
        margin: 4.16vw;
    }

    #specialise .flexRow .bluePlate a img{
        width: 6.66vw;
        bottom: -1.4vw;
    }

    #customer{
        display: none;
    }

    #rewievs{
        display: none;
    }

    #protect{
        display: none;
    }

    #aboutMe{
        display: none;
    }

    #aboutMeTitle{
        margin-top: 13vw;
    }

    #aboutMeBody{
        flex-direction: column-reverse;
    }

    #aboutMeBody div{
        width: 100%;
    }

    #aboutMeBody div p{
        font-size: 5vw;
        margin: 2.8vw;
    }

    #aboutMeBody div img{
        margin: 2.8vw;
    }

    #sendMe{
        height: 100%;
        width: 100%;
    }

    #sendMe .sendMeWindow{
        flex-direction: column-reverse;
    }


    #sendMe .sendMeContacts{
        height: 100%;
        width: 100%;
    }

    #sendMe .sendMeContacts .sendProf{
        font-size: 5.5vw;
        font-weight: 300;
        letter-spacing: 0.3px;
        text-align: right;
        color: #ffffff;
        margin-top: 8.3vw;
        margin-right: 7.8vw;
    }

    #sendMe .sendMeContacts .sendName{
        font-size: 5.5vw;
        line-height: 1.9;
        letter-spacing: 0.3px;
        text-align: right;
        color: #ffffff;
        margin-top: 4.1vw;
        margin-right: 7.8vw;
    }

    #sendMe .sendMeContacts .sendMail{
        font-size: 5.5vw;
        font-weight: 300;
        letter-spacing: 0.5px;
        text-align: right;
        color: #fbfbf7;
        margin-top: 4.2vw;
        margin-bottom: 4.2vw;
        margin-right: 7.8vw;
    }

    #sendMe .sendMeContacts .sendTel{
        font-size: 5.5vw;
        font-weight: 300;
        letter-spacing: 0.5px;
        text-align: right;
        color: #fbfbf7;
        margin-bottom: 4.2vw;
        margin-right: 7.8vw;
    }

    #sendMe .sendMeForm{
        background-color: #fbfbf7;
        width: 100%;
        height: 100%;
        border: none;
    }

    #sendMe .sendMeForm h2{
        font-size: 5.5vw;
        font-weight: 300;
        letter-spacing: 0.3px;
        color: #0f1d3e;
        margin-top: 8.3vw;
    }

    #sendMe .sendMeForm form{
        margin: 2.8vw;
    }

    #sendMe .sendMeForm form input{
        width: 100%;
        font-size: 6.66vw;
        color: #0f1d3e;
        background-color: #fbfbf7;
    }

    #sendMe .sendMeForm form textarea{
        width: 100%;
        font-size: 6.66vw;
        color: #0f1d3e;
        height: 32vw;
        background-color: #fbfbf7;
    }

    #sendMe .sendMeForm a div{
        width: 50vw;
        font-size: 5vw;
        height: 9vw;
    }

    #sendMe .sendMeForm a div img{
        width: 6.66vw;
        bottom: -1.4vw;
    }


    #itCompanies h2{
        font-size: 5vw;
        font-weight: 500;
        letter-spacing: 0.5px;
        color: #ffffff;
        margin-top: 13vw;
    }

    #itCompanies .underHeader{
        font-size: 5vw;
        font-weight: 300;
        letter-spacing: 0.5px;
        text-align: center;
        color: #ffffff;
    }

    #splata{
        flex-direction: column-reverse;
    }

    #splata .left{
        width: 100%;
        margin: 0;
    }

    #splata .left h2{
        font-size: 5vw;
        font-weight: 500;
        letter-spacing: 0.4px;
    }

    #splata .left .underHeader{
        font-size: 5vw;
        font-weight: 300;
    }

    #splata .left p{
        font-size: 4.5vw;
        margin: 2.8vw;
    }

    #splata .right{
        width: 100%;
        margin: 0;
    }

    #splata .right h2{
        font-size: 5vw;
        font-weight: 500;
        letter-spacing: 0.4px;
        margin-top: 5.5vw;
    }

    #splata .right .underHeader{
        font-size: 5vw;
        font-weight: 300;
    }

    #splata .right .accNor, #splata .right .accBig{
        font-size: 4.4vw;
        margin: 2.8vw;
    }

    #splata .right .set a{
        font-size: 5vw;
        font-weight: 500;
        letter-spacing: 0.4px;
        width: auto;
        height: 19.5vw;
    }

    #splata .right .set a img{
        width: 7vw;
    }

    footer{
        width: 100%;
    }

    footer p{
        width: 52%;
        font-size: 4.4vw;
        font-weight: 300;
        letter-spacing: 0.4px;
        text-align: center;
        color: #0f1d3e;
        white-space: nowrap;
    }

    footer img{
        width: 7vw;
        height: 7vw;
    }
}
