@font-face {
    font-family: BrandonGrotesque;
    src: url(fonts/brandon_bld.ttf);
}

@font-face {
    font-family: Lato;
    src: url(fonts/Lato-Regular.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Lato;
    src: url(fonts/Lato-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: Lato;
    src: url(fonts/Lato-Bold.ttf);
    font-weight: bold;
}

body{
    margin: 0 auto;
    font-family: 'Lato', 'Roboto', sans-serif;
}

body a{
    text-decoration: none;
}

body h2{
    font-size: 2.5vw;
    font-weight: 500;
    text-align: center;
}

body h2 span{
    color: #19c3c1;
}

body .underHeader{
    font-size: 2.5vw;
    font-weight: 300;
    text-align: center;
}

body p{
    font-size: 1.7vw;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: #19c3c1;
    align-items: center;
    flex-wrap: wrap;
}

header .navbar-brand{
    margin: 1.5vw 1vw 1.21vw 3.6vw;
}

header .navbar-brand img{
    width: 20vw;
}

header .menuButton{
    width: 1.4vw;
    margin-right: 5.6vw;
}

header .navWrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

nav{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

nav a{
    margin-right: 1.4vw;
    font-size: 1.5vw;
    font-weight: 500;
    letter-spacing: 0.6px;
    text-align: justify;
    color: #ffffff;
}

#contactMe{
    display: flex;
    background-color: #fbfbf7;
    justify-content: center;
    padding-top: 45px;
}

#contactMe h2{
    font-size: 5vw;
    font-weight: 300;
    letter-spacing: 0.5px;
    color: #0f1d3e;
    text-align: right;
    margin-bottom: 3.35vw;
    margin-top: 7.7vw;
    margin-left: 20px;
}

#contactMe h2 span{
    font-size: 6.4vw;
    font-weight: bold;
    line-height: 1.2;
    color: #0f1d3e;
}

#contactMe .sendButton{
    display: flex;
    width: 17vw;
    height: 4.5vw;
    background-color: #6dc0df;
    justify-content: center;
    align-items: center;
}

#contactMe a{
    font-size: 2vw;
    font-weight: 500;
    letter-spacing: 0.3px;
    text-align: center;
    color: #fbfbf7;
}

#contactMe p{
    font-size: 3vw;
    font-weight: 300;
    line-height: 1.09;
    letter-spacing: 0.5px;
    text-align: right;
    color: #0f1d3e;
    margin-right: 60px;
}

#contactMe .adv{
    margin-top: 1.85vw;
}

#contactMe .pol{
    margin-bottom: 3.71vw;
    font-weight: 500;
}

#contactMe .contactImg{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    overflow: inherit;
}

#contactMe img{
    width: 34vw;
    margin-left: -10%;
}

#whyMe{
    background-color: #0f1d3e;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-top: 4vw;
    padding-bottom: 4vw;
}

#whyMe .right{
    width: 45%;
    margin-left: 3.6vw;
    margin-right: 6.4vw;
}

#whyMe .left{
    margin-left: 6.4vw;
}

#whyMe .left h2{
    letter-spacing: 1px;
    text-align: right;
    color: #fbfbf7;
    margin: 0;
    margin-bottom: 1.07vw;
    margin-top: 0.57vw;
}

#whyMe .left p{
    font-size: 2.5vw;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: right;
    color: #fbfbf7;
    margin: 0;
}

#whyMe .right p{
    line-height: 1.42;
    text-align: justify;
    color: #fbfbf7;
}

#clients{
    background-color: #fbfbf7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#clients h2{
    letter-spacing: 0.8px;
    color: #0f1d3e;
    margin-top: 4.28vw;
}

#clients .underHeader{
    letter-spacing: 1px;
    color: #0f1d3e;
    margin-top: 0.57vw;
    margin-bottom: 2.28vw;
}

#clients .plate p{
    font-weight: 500;
    line-height: 1.58;
    letter-spacing: 0.2px;
    color: #0f1d3e;
    margin-left: 1vw;
}

#clients .plate a{
    font-size: 1vw;
    font-weight: bold;
    letter-spacing: 1.6px;
    text-align: left;
    color: #0f1d3e;
    margin-left: 1vw;
    margin-bottom: 1.42vw;
}

#clients .plate a img{
    position: relative;
    bottom: -0.4vw;
    margin-left: 0.4vw;
    width: 1.71vw;
}

#clients .plate .pic100{
    width: 100%;
    height: 21vw;
}

#clients .flexRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 82%;
    margin: 0 9% 4.2vw 9%;
}

#clients .picWorld{
    margin: 0.5vw auto;
    height: 20vw;
    width: 80%;
}

#clients .flexRow .plate{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 32%;
}

#specialise{
    background-color: #0f1d3e;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#specialise h2{
    letter-spacing: 1px;
    color: #ffffff;
    padding-top: 2.57vw;
}

#specialise .underHeader{
    letter-spacing: 1px;
    color: #ffffff;
    margin-top: 0.57vw;
    margin-bottom: 5.1vw;
}

#specialise .flexCol{
    display: flex;
    flex-direction: column;
    background-color: #fbfbf7;
    width: 100%;
}

#specialise .flexRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 82%;
    margin-left: 9%;
    margin-right: 9%;
}

#specialise .flexRow p{
    font-weight: 500;
    line-height: 1.58;
    letter-spacing: 0.2px;
    color: #0f1d3e;
    margin-left: 1vw;
}

#specialise .flexRow a{
    font-size: 1vw;
    font-weight: bold;
    letter-spacing: 1.6px;
    text-align: left;
    color: #0f1d3e;
    margin-left: 1vw;
    margin-bottom: 1.42vw;
}

#specialise .flexRow a img{
    position: relative;
    bottom: -0.42vw;
    margin-left: 0.42vw;
    width: 1.71vw;
}

#specialise .plate{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -2.57vw;
    width: 32%;
    height: 14.28vw;
    background-color: #fbfbf7;
    border: solid 1px #0f1d3e;
}

#specialise .pic-civil{
    background-image: url('img/pic-civil.svg');
    background-size: 20.57vw 10.71vw;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
}

#specialise .pic-admin{
    background-image: url('img/pic-admin.svg');
    background-size: 17.71vw 11vw;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
}

#specialise .pic-economic{
    background-image: url('img/pic-economic.svg');
    background-size: 17vw 13.5vw;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
}

#specialise .bluePlate{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 32%;
    height: 10.78vw;
    background-color: #6dc0df;
    margin-top: 2.21vw;
    margin-bottom: 10.5vw;
}

#specialise .bluePlate p{
    font-size: 2.5vw;
    font-weight: 500;
    line-height: 1.09;
    letter-spacing: 0.3px;
    color: #0f1d3e;
    margin-top: 0.57vw;
    margin-left: 0.71vw;
}

#specialise .bluePlate a{
    font-size: 1vw;
    font-weight: bold;
    letter-spacing: 1.6px;
    text-align: left;
    color: #fbfbf7;
    margin-left: 1vw;
    margin-bottom: 1.35vw;
}

#specialise .bluePlate a img{
    position: relative;
    bottom: -0.42vw;
    margin-left: 0.42vw;
    width: 1.71vw;
}

#customer{
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #0f1d3e;
}

#customer img{
    max-width: 33%;
    margin: 2.42vw auto;
}

#rewievs{
    background-color: #fbfbf7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#rewievs .rewHeader{
    width: 55%;
    background: url('img/pic-top-line.svg') no-repeat;
    background-size: 100%;
    margin-top: 5.78vw;
    margin-bottom: 1.42vw;
}

#rewievs h2{
    letter-spacing: 0.8px;
    color: #0f1d3e;
    position: relative;
    z-index: 2;
}

#rewievs .underHeader{
    letter-spacing: 1px;
    color: #0f1d3e;
    z-index: 2;
    position: relative;
    margin: 10px;
}

#rewievs .top-line{
    position: absolute;
    z-index: 1;
}

#rewievs .slickCarouselWrapper{
    width: 69%;
    margin-right: 15.5%;
    margin-left: 15.5%;
}

#rewievs .flexWrapperRev{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#rewievs .flexWrapperRev .person{
    margin-right: 4vw;
    width: 16vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#rewievs .flexWrapperRev h3{
    font-size: 1.71vw;
    font-weight: 500;
    letter-spacing: 0.6px;
    color: #0f1d3e;
    text-align: center;
    margin-top: 1vw;
}

#rewievs .flexWrapperRev p{
    letter-spacing: 0.6px;
    text-align: center;
    color: #0f1d3e;
}

#rewievs .rev-container{
    display: flex;
    flex-direction: column;
    width: 48.6vw;
    align-items: flex-start;
}

#rewievs .rev-photo{
    max-width: 12.14vw;
    border-radius: 50%;
}

#rewievs .carouselImg{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2.07vw;
}

#rewievs .carouselImg img{
    width: 25%;
}

#rewievs .rev-container p{
    line-height: 1.42;
    letter-spacing: 0.6px;
    text-align: justify;
    color: #0f1d3e;
    position: relative;
    width: 45.3vw;

}

#rewievs .rev-container span{
    opacity: 0.15;
    font-family: BrandonGrotesque;
    font-size: 21.42vw;
    font-weight: bold;
    letter-spacing: 7.2px;
    text-align: left;
    color: #19c3c1;
    z-index: -1;
    position: absolute;
}

#rewievs .rev-container .quotesUp{
    left: 0;
    top: -8.5vw;
}

#rewievs .rev-container .quotesDown{
    right: 0;
    bottom: -18.57vw;
}

#protect{
    display: flex;
    background-color: #0f1d3e;
}

#protect .protectText{
    display: flex;
    flex-direction: column;
    width: 50%;
}

#protect .protectText h2{
    letter-spacing: 0.8px;
    color: #fbfbf7;
    margin-top: 8vw;
}

#protect .protectText .underHeader{
    letter-spacing: 1px;
    color: #ffffff;
    margin-bottom: 3.92vw;
    text-align: center;
}

#protect .protectText p{
    line-height: 1.42;
    letter-spacing: 0.6px;
    text-align: justify;
    color: #fbfbf7;
    margin: 0 5vw 5vw 5vw;
}

#protect .protectImg{
    width: 50%;
    background-image: url("img/negotiation.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#aboutMe{
    display: flex;
    background-color: #fbfbf7;
}

#aboutMe .aboutMeImg{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#aboutMe .flipImg{
        -moz-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
        margin: 0 auto;
}

#aboutMe .aboutMeText{
    margin-right: 5vw;
    width: 50%;
}

#aboutMe .aboutMeText h2{
    letter-spacing: 0.8px;
    color: #0f1d3e;
    margin-top: 5.7vw;
}

#aboutMe .aboutMeText .underHeader{
    font-size: 2.28vw;
    line-height: 0.88;
    letter-spacing: 1.3px;
    color: #0f1d3e;
    margin-bottom: 3.57vw;
    text-align: center;
}

#aboutMe .aboutMeText p{
    line-height: 1.5;
    letter-spacing: 0.6px;
    text-align: justify;
    color: #0f1d3e;
    margin-bottom: 3.5vw;
}

#aboutMe .aboutMeText a{
    font-size: 1.3vw;
    letter-spacing: 0.4px;
    float: right;
    color: #ffffff;
    margin-bottom: 3.5vw;
}

#aboutMe .aboutMeText a div{
    width: 17.07vw;
    height: 3.18vw;
    background-color: #6dc0df;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#aboutMe .aboutMeText a div img{
    margin: auto 1.42vw;
    width: 2.28vw;
}

#aboutMeTitle{
    background-color: #0f1d3e;
}

#aboutMeTitle h2{
    letter-spacing: 0.8px;
    color: #fbfbf7;
    padding-top: 4.5vw;
}

#aboutMeTitle .underHeader{
    line-height: 0.8;
    letter-spacing: 1.5px;
    color: #fbfbf7;
    padding-bottom: 4.5vw;
}

#aboutMeBody{
    display: flex;
    background-color: #fbfbf7;
}

#aboutMeBody div{
    width: 50%;
    display: flex;
    justify-content: center;
}

#aboutMeBody div p{
    margin: 3.57vw;
    line-height: 1.5;
    letter-spacing: 0.6px;
    text-align: justify;
    color: #0f1d3e;
}

#aboutMeBody div img{
    width: 88%;
    height: 88%;
    margin: 3.57vw;
}

#sendMe{
    background-image: linear-gradient(to bottom, #6dc0df, rgba(153, 153, 153, 0));
    width: 100%;
    height: 51.85vw;
    position: relative;
}

#sendMe::after {
  content: "";
  background: url('img/sofia.jpg');
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#sendMe .sendMeWindow{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    height: 100%;
}

#sendMe .sendMeForm{
    width: 42.85vw;
    height: 31.42vw;
    background-color: #ffffff;
    border: solid 1px #0f1d3e;
}

#sendMe .sendMeForm form{
    margin: 2.28vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#sendMe .sendMeForm h2{
    font-weight: 300;
    letter-spacing: 0.5px;
    color: #0f1d3e;
    margin-top: 2.28vw;
}

#sendMe .sendMeForm input{
    border: none;
    border-bottom: 2px solid black;
    font-size: 1.71vw;
    line-height: 1.42;
    letter-spacing: 0.6px;
    text-align: justify;
    color: #0f1d3e;
    width: 17.71vw;
}

#sendMe .sendMeForm textarea{
    width: 38.14vw;
    height: 8.14vw;
    border: solid 1px #0f1d3e;
    font-size: 1.71vw;
    line-height: 1.42;
    letter-spacing: 0.6px;
    text-align: justify;
    color: #0f1d3e;
    resize: none;
    margin-top: 2.28vw;
}

#sendMe .sendMeForm a{
    font-size: 1.28vw;
    letter-spacing: 0.4px;
    float: right;
    color: #ffffff;
    margin-bottom: 3.5vw;
}

#sendMe .sendMeForm a div{
    width: 17.07vw;
    height: 3.18vw;
    background-color: #6dc0df;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#sendMe .sendMeForm a div img{
    margin: auto 1.42vw;
    width: 2.28vw;
}

#sendMe .sendMeContacts{
    width: 30.42vw;
    height: 31.42vw;
    background-color: #0f1d3e;
}

#sendMe .sendMeContacts .sendProf{
    font-size: 2.5vw;
    font-weight: 300;
    line-height: 1.09;
    letter-spacing: 0.5px;
    text-align: right;
    color: #ffffff;
    margin-top: 2vw;
    margin-right: 1.89vw;
    text-align: right;
}

#sendMe .sendMeContacts .sendName{
    font-size: 2.5vw;
    line-height: 1.09;
    letter-spacing: 0.5px;
    text-align: right;
    color: #ffffff;
    margin-top: 0.7vw;
    margin-right: 1.89vw;
}

#sendMe .sendMeContacts .sendMail{
    font-size: 2.5vw;
    font-weight: 300;
    line-height: 0.97;
    letter-spacing: 0.8px;
    text-align: center;
    color: #fbfbf7;
    margin-bottom: 4vw;
    margin-top: 3.57vw;
    display: inherit;
}

#sendMe .sendMeContacts .sendTel{
    font-size: 2.5vw;
    font-weight: 300;
    line-height: 0.97;
    letter-spacing: 0.8px;
    text-align: center;
    color: #fbfbf7;
    margin-bottom: 1.42vw;
    display: inherit;
}

#itCompanies{
    width: 100%;
    background-color: #0f1d3e;
}

#itCompanies h2{
    line-height: 1.09;
    letter-spacing: 0.3px;
    color: #fbfbf7;
    padding-top: 3.92vw;
}

#itCompanies .underHeader{
    letter-spacing: 1px;
    color: #fbfbf7;
    padding-bottom: 4.28vw;
}

#splata{
    display: flex;
    background-color: #fbfbf7;
}

#splata .left{
    width: 50%;
    margin: 3.57vw;
}

#splata .left h2{
    line-height: 1.09;
    letter-spacing: 0.3px;
    color: #0f1d3e;
}

#splata .left .underHeader{
    font-size: 2.5vw;
    letter-spacing: 1px;
    color: #0f1d3e;
    margin-top: 0;
    text-align: center;
}

#splata .left p{
    font-size: 1.71vw;
    line-height: 1.42;
    text-align: justify;
    color: #0f1d3e;
    margin-top: 2.14vw;
}

#splata .right{
    width: 50%;
    margin: 3.57vw;
    margin-left: 1.78vw;
}

#splata .right h2{
    line-height: 1.09;
    letter-spacing: 0.3px;
    color: #0f1d3e;
}

#splata .right .underHeader{
    letter-spacing: 1px;
    color: #0f1d3e;
    margin-bottom: 2.14vw;
    line-height: 1.42;
}

#splata .right .accordionStyle{
    position: relative;
    margin: 2.14vw;
}

#splata .right h3{
    font-size: 2.5vw;
    font-weight: 300;
    letter-spacing: 1px;
    color: #fbfbf7;
    background-color: #0f1d3e;
    border: solid 1px #979797;
}

#splata .right .accNor{
    font-size: 1.71vw;
    line-height: 1.42;
    color: #0f1d3e;
}

#splata .right .accBig{
    font-size: 2.5vw;
    letter-spacing: 1px;
    color: #0f1d3e;
}

#splata .right .accMid{
    font-size: 1.71vw;
    letter-spacing: 1px;
    color: #0f1d3e;
}

#splata .right .accordion-container{
    position: relative;
    width: 100%;
    height: auto;
    margin: 1.42vw auto;
}

#splata .right .set{
    position: relative;
    width: 100%;
    height: auto;
}

#splata .right .set a{
    background-color: #0f1d3e;
    border: solid 1px #979797;
    font-size: 2.4vw;
    font-weight: 300;
    letter-spacing: 1px;
    color: #fbfbf7;
    width: 100%;
    height: 6.42vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.42vw;
    padding-left: 1.07vw;
}

#splata .right .set a img{
    width: 2.5vw;
    margin-right: 1.07vw;
}

#splata .right .content{
    position:relative;
    width: 100%;
    height: auto;
    display:none;
}

#splata .right .content p{
    padding: 0.5vw 0.7vw;
    margin: 0;
}

footer{
    display: flex;
    justify-content: center;
    background-color: #fbfbf7;
}

footer p{
    font-size: 2.5vw;
    font-weight: 300;
    letter-spacing: 0.8px;
    text-align: center;
    color: #0f1d3e;
    margin-bottom: 2.57vw;
    margin-top: 2vw;
    white-space: pre;
}

footer p a{
    color: black;
}
